<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="filename">test.log</Property>
        <Property name="pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <RandomAccessFile name="pantallas" fileName="jupiter.log">
            <PatternLayout pattern="${pattern}">
            </PatternLayout>
        </RandomAccessFile>
        <RandomAccessFile name="botones" fileName="botones.log">
            <PatternLayout pattern="${pattern}">
            </PatternLayout>
        </RandomAccessFile>

        <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="roll.log"
                                 filePattern="roll-%d{hh-mm-ss}-%i.log">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy interval="10"/>
                <SizeBasedTriggeringPolicy size="2 MB"/>
            </Policies>
        </RollingRandomAccessFile>

        <NoSql name="databaseAppender">
            <MongoDb3 databaseName="applicationDb" collectionName="applicationLog"
                      server="dam2.tomcat.iesquevedo.es"
                      port="3334" />
        </NoSql>
    </Appenders>

    <Loggers>
        <Logger name="botones" level="INFO" additivity="false">
            <AppenderRef ref="botones"/>
        </Logger>
        <Logger name="controller.Explorer" level="INFO" additivity="false">
            <AppenderRef ref="botones"/>
        </Logger>
        <Root level="ERROR" additivity="false">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
