

.label{
    -fx-background-color: #76d4ff;
    -fx-text-fill: black;
}
.label:hover{
    -fx-background-color: #2a27ff;
    -fx-text-fill: white;
}
.pane{
    -fx-background-color: red;
}
.error{

    -fx-border-color: red;

}
.warning{
    -fx-background-color: red;
}
.button{

}
#clear{

}